body {
    font-family: 'Assistant', sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: rgb(46, 46, 46);
    text-align: center;
}

#bio {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

#title {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

#headline {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

#contactInfo {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

#name {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 5px;
}

#email {
    color: #B3A04B;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

#phoneNumber {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 5px;
}

#bioExtended {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}