* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  #home {
    margin-right: 50px;
  }

  #skills {

  }
  
  #projects {
      margin-left: 50px;
  }
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  

  @media screen and (min-width: 320px) {
    #home {
        margin-right: 50px;
      }
      
      #projects {
          margin-left: 50px;
      }
  }
  
  @media screen and (min-width: 375px) {
    
  }
  
  @media screen and (min-width: 425px) {
    
  }
  
  @media screen and (min-width: 768px) {
    #home {
        margin-right: 100px;
      }
    
      #skills {
    
      }
      
      #projects {
          margin-left: 100px;
      }
  }
  
  @media screen and (min-width: 1024px) {
    #home {
        margin-right: 150px;
      }
    
      #skills {
    
      }
      
      #projects {
          margin-left: 150px;
      }
  }

  @media screen and (min-width: 1440px) {
    #home {
        margin-right: 250px;
      }
    
      #skills {
    
      }
      
      #projects {
          margin-left: 250px;
      }
  }